<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mulhimiq.app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="${applicationName}"
        android:label="Mulhim IQ"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

            <!-- OneSignal -->
            <meta-data
                android:name="onesignal_app_id"
                android:value="b136e33d-56f0-4fc4-ad08-8c8a534ca447" />

            <meta-data
                android:name="onesignal_google_project_number"
                android:value="REMOTE" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
